// @forward 'variables';

$white: #ffffff;
// Grayscale
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

// Primary / Brand
$primary-50: #eff6ff;
$primary-100: #dbeafe;
$primary-200: #bfdbfe;
$primary-300: #93c5fd;
$primary-400: #60a5fa;
$primary-500: #3b82f6;
$primary-600: #2563eb;
$primary-700: #1d4ed8;
$primary-800: #1e40af;
$primary-900: #1e3a8a;

// Success
$success-50: #ecfdf5;
$success-100: #d1fae5;
$success-500: #10b981;
$success-700: #047857;

// Warning
$warning-50: #fffbeb;
$warning-100: #fef3c7;
$warning-500: #f59e0b;
$warning-700: #b45309;

// Danger / Error
$danger-50: #fef2f2;
$danger-100: #fee2e2;
$danger-500: #ef4444;
$danger-700: #b91c1c;

// Info / Accent
$info-50: #eff6ff;
$info-100: #dbeafe;
$info-500: #3b82f6;
$info-700: #1d4ed8;



// Backgrounds
$bg-primary: $gray-50;
$bg-active: $gray-50; // Main background
$bg-sidebar: $gray-100;
$bg-sidebar-hover: $gray-200;
$bg-header: $gray-200; // Header background
$bg-card: $white; // Cards or panels
$bg-body: $gray-100; // Cards or panels

// Text
$text-primary: $gray-900; // Main text
$text-secondary: $gray-700; // Secondary text
$text-muted: $gray-500; // Muted captions

// Borders / Dividers
$border-default: $gray-300;
$border-muted: $gray-200;
$border-danger: $danger-500;

// Buttons / Actions
$btn-primary-bg: $primary-500;
$btn-primary-text: $white;
$btn-secondary-bg: $gray-200;
$btn-secondary-text: $gray-900;

// Alerts / Status
$alert-success-bg: $success-50;
$alert-success-text: $success-700;
$alert-warning-bg: $warning-50;
$alert-warning-text: $warning-700;
$alert-danger-bg: $danger-50;
$alert-danger-text: $danger-700;
$alert-info-bg: $info-50;
$alert-info-text: $info-700;

// Shadows
$shadow-light: 0 1px 3px rgba(0, 0, 0, 0.1);
$shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-heavy: 0 10px 15px rgba(0, 0, 0, 0.15);


:root {
  --white: #{$white};

  --gray-50: #{$gray-50};
  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-900: #{$gray-900};

  --primary-50: #{$primary-50};
  --primary-100: #{$primary-100};
  --primary-200: #{$primary-200};
  --primary-300: #{$primary-300};
  --primary-400: #{$primary-400};
  --primary-500: #{$primary-500};
  --primary-600: #{$primary-600};
  --primary-700: #{$primary-700};
  --primary-800: #{$primary-800};
  --primary-900: #{$primary-900};

  --btn-primary-text: #{$btn-primary-text};

  // --shadow-medium: #{$shadow-medium};
  // --shadow-heavy: #{$shadow-heavy};



}