@use "globals" as *;


.active-sort {
 stroke :#3b82f6;
 position: relative;
 width: 100%
}

.active-sort::after {
    position: absolute;
  content: '';               
  display: block;            
  width: 15px;              
  height: 2px;                
  background-color: #3b82f6;
  margin-top: 2px;           
}

