<ul class="w-full p-2 sidebar-wrapper relative text-sm"
    [ngClass]=" {'expanded' : expandedState(), 'collapsed' : !expandedState()} ">


    @for (item of sideBarItems; track $index) {
    <li class="mb-2">
        <button class="sidebar-item" [class]="item.isHeader ? 'header-item' : 'menu-item'"
            aria-label="Go to Cost Tracker Dashboard" [routerLink]="item.route" routerLinkActive="active-route"
            [routerLinkActiveOptions]="{exact: item.isHeader ? true: false}">
            <lucide-angular [img]="item.icon" color="#374151" [size]="item.size" class="my-icon" role="img"
                aria-hidden="true"></lucide-angular>

            @if(item.text) {
            <span class="sidebar-label text-gray-600">{{item.text}}</span>
            }

            @if(item.isHeader) {
            <button class="expand-icon absolute right-[-10px] cursor-pointer " (click)="handleExpandCollapse($event)">
                <lucide-angular [img]="expandedState() ? chevronLeft : chevronRight" color="#374151" size="22"
                    class="my-icon" role="img" aria-hidden="true"
                    ></lucide-angular>
            </button>
            }
        </button>
    </li>
    }
</ul>

<ul class="w-full p-2 sidebar-wrapper mt-auto text-sm"  [ngClass]=" {'expanded' : expandedState(), 'collapsed' : !expandedState()} ">
    <li class="mb-2">
        <button class="sidebar-item footer-item" (click)="handleLogout()" aria-label="Go to Cost Tracker Dashboard"
            routerLinkActive="active-route">
            <lucide-angular [img]="logoutItem.icon" color="#374151" [size]="logoutItem.size" class="my-icon" role="img"
                aria-hidden="true"></lucide-angular>

            @if(logoutItem.text) {
            <span class="sidebar-label text-gray-600">{{logoutItem.text}}</span>
            }
        </button>
    </li>
</ul>