.active-page {
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    color: #374151;
    cursor: pointer;

    &:hover {
        background-color: #f3f4f6;
    }

}

.default-page {
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #2563eb;
    }


}