.active-sort {
 stroke :#4f46e5;
 position: relative;
 width: 100%
}

.active-sort::after {
    position: absolute;
  content: '';               
  display: block;            
  width: 15px;              
  height: 2px;                
  background-color: #4f46e5;
  margin-top: 2px;           
}
