@use "globals" as *;

:host {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: $text-secondary;
  overflow: auto;

  dashboard-sidebar {
    display: flex;
    flex-direction: column;
    background: $bg-sidebar;
    border-right: 1px solid $border-default;
    box-shadow: $shadow-heavy;
    position: sticky;
    top: 0;
  
}

.body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: $bg-body;

  dashboard-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: $bg-header;
    border-bottom: 1px solid $border-default;
    box-shadow: $shadow-medium;
  }

  .content-area {
    flex-grow: 1;
    // padding: 1rem;
    background: $bg-primary;
  }
}
}